<!DOCTYPE html>
<html>
<head>
    <title>Pokemon Wiki</title>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pokemon Wiki</h1>

    <form action="/pokemon" method="get">
        <input type="text" name="name" placeholder="Enter Pokemon name or ID number" required>
        <button type="submit">Search</button>
    </form>
        <p>form examples:</p>
        <p>mewtwo-mega-x</p>
        <p>raichu-alola</p>
</body>
</html>
